{% extends "note/base.html" %}
{% block content %}

<form method="POST" class='content-section'>
    {% csrf_token %}

    {% for field  in form %}
        <div class='mb-3'>
            <p class='form-label'>{{ field.label_tag }}</p>
            {{ field }}
        </div>
    {% endfor %}

    <div class=''>
        <button type="submit" class="btn btn-primary">Submit</button>
        <small class='text-muted'>Don't have an account? <a href="{% url "register" %}" class="fs-10 text-decoration-none text-primary">Sign up here</a></small>
    </div>

</form>
{% endblock content %}